<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-9/nat803.cur), progress !important;}</style>
<body>
	<%=yield%>
</body>
</html>